{% include jark.html %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18936522-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    <div class="grid_3 alpha sidebar">
      <div class="block">
        <ol>
          <li>Introduction
            <ul>
              <li><a href="/jark/index.html">Rationale</a></li>
              <li><a href="/jark/start.html">Getting started</a></li>
              <li><a href="/jark/modules.html">Modules</a></li>
              <li><a href="/jark/configuration.html">Configuration</a></li>
            </ul>
          </li>

          <li>Application
            <ul>
              <li><a href="/jark/scripting.html">Scripting</a></li>
              <li><a href="/jark/ide.html">IDE integration</a></li>
              <li><a href="/jark/bridge.html">Bridge</a></li>
              <li><a href="/jark/env.html">Environment</a></li>
            </ul>
          </li>

          <li>Development
            <ul>
              <li><a href="/jark/roadmap.html">Roadmap</a></li>
              <li><a href="https://github.com/icylisper/jark-client/issues" target="_new">Issue tracker</a></li>
              <li><a href="/jark/build.html">Build</a></li>
              <li><a href="/jark/downloads.html">Downloads</a></li>
            </ul>
          </li>

          <li>Community
            <ul>
              <li><a href="https://groups.google.com/group/clojure-jark" target="_new">Mailing List</a></li>
              <li><a href="/jark/wishlist.html">Wishlist</a></li>
            </ul>
          </li>
        </ol>
      </div>

    </div>
    <div class="grid_9 omega guide">
      {{ content }}
    </div>

{% include footer.html %}
