<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>icylisper.in</title>
   <meta name="author" content="Isaac Praveen" />
   <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" charset="utf-8"/>
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <script type="text/javascript" src="http://use.typekit.com/hqz1dpo.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

   <script src="/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
   <script src="/javascripts/jquery.github.js" type="text/javascript" charset="utf-8"></script>
   <link href="http://feeds.feedburner.com/icylisper" rel="alternate" title="Isaac Praveen" type="application/atom+xml"/>
</head>
<body>

<div id="site">
    <div id="header">
      <h1>{{ page.head }}</h1>
      <div id="menu">
        <a href="/clojure/jark.html" id="blog_link">blog</a>
        <a href="http://github.com/icylisper/jark" id="blog_link">code</a>
        <a href="/jark/gitlive.html  id="blog_link"">gitlive!</a><br>
        <img src="/images/clojure-icon.gif" height="55">
      </div>
   </div>
<div id="content">
 <div class="post">
  <h1>{{ page.title}}</h1>
  <div class="body">
    <table width="100%">
      <tr>
        <td width="15%" valign="top">

         <a href="/jark/index.html">why jark</a><br>
        <a href="/jark/start.html">start</a><br>
         <a href="/jark/namespace.html">namespace</a><br>
         <a href="/jark/package.html">packages</a><br>
         <a href="/jark/classpath.html">classpath</a><br>
         <a href="/jark/doc.html">docs</a><br>
         <a href="/jark/editor.html">editors</a><br>
         <a href="/jark/scripting.html">scripting</a><br>
         <a href="/jark/vm.html">vm</a><br>
         <a href="/jark/resource.html">resources</a><br>
         <a href="/jark/wishlist.html">wishlist</a><br>
        </td>
        <td width="85%" valign="top">
          <i> A tool to manage classpaths and clojure namespaces on a persistent JVM</i>
          {{ content }}
        </td>
      </tr>
     </table>
  </div>
</div>


</body>
</html>
